html,
body {
	margin: 0;
	padding: 0;
	background-color: #f0f8ff;
}

:root {
	--color-grey-charcoal: #36454f;
	--color-grey-charcoal-light: #708090;
	--color-grey-charcoal-dark: #2f4f4f;
	--color-white-bone: #f0f8ff;
	--color-accent-primary: #ff4500;
	--color-accent-primary-darker: #d33000;
	--color-accent-primary-light: #ff7f50;
	--color-accent-secondary: #bfff00;
	--font-heading:
		'Bebas Neue', sans-serif; /* Asegúrate de importar la fuente en tu main.js o app.html */
	--font-body: 'Lato', sans-serif; /* Asegúrate de importar la fuente */
}

section {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: var(--font-heading);
	font-size: 2.5rem;
	font-weight: bold;
	color: var(--color-grey-charcoal-dark);
	margin-bottom: 1rem;
}

h2 {
	/* ... */
}

p {
	/* ... */
}

/* Clases reutilizables para estilos comunes */
.button-primary {
	background-color: var(--color-accent-primary);
	color: var(--color-white-bone);
}

.button-primary:hover {
	background-color: var(--color-accent-primary-darker);
}

/* ... otras clases reutilizables ... */
